/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

.container{
    width: 80%;
}

/* DEBUG */
header{
    height: 175px;
    background-color: sandybrown;
    line-height: 175px;
    padding-left: 80px;
    font-size: 30px;
}

main{
    background-color: #fff;
    height: calc(100vh - 325px);
    overflow: auto;
}

#ingredients img{
    width: 50px;
}

footer{
    height: 150px;
    background-color: salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}
footer > div{
    margin: 0 80px;
}